@import '../../../dist/scss/variables.scss';

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.mat-spinner {
    margin: 0 auto;
    font-size: 50px;
    color: $primary-color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
