<div class="card text-white bg-info mb-3" style="min-width: 20rem; max-width: 24rem;">
    <div class="card-header">DETALHES</div>
    <div class="card-body">
        <form #userForm="ngForm">
            <div class="form-group">
                <label for="userName">Nome:</label>
                <input id="userName" name="userName" type="text" [(ngModel)]="bank.userName"
                    class="btn form-control input" [disabled]="true">
            </div>

            <div class="form-group">
                <label for="teamName">Time:</label>
                <input id="teamName" name="teamName" type="text" [(ngModel)]="bank.teamName"
                    class="btn form-control input" [disabled]="true">
            </div>

            <div class="form-group">
                <label for="start">Início:</label>
                <input id="start" name="start" type="datetime-local" [(ngModel)]="bank.start"
                    class="btn form-control input" [disabled]="true">
            </div>

            <div class="form-group">
                <label for="end">Fim:</label>
                <input id="end" name="end" type="datetime-local" [(ngModel)]="bank.end" class="btn form-control input"
                    [disabled]="true">

            </div>

            <div class="form-group">
                <label for="description">Descrição:</label>
                <textarea id="description" name="description" type="text" [(ngModel)]="bank.description"
                    class="form-control input" [disabled]="true">
                </textarea>
            </div>

            <div class="btn-area">
                <a routerLink="/bank/approvals" class="btn btn-secondary btn-margin">Voltar</a>
                <button class="btn btn-danger submit btn-margin" type="submit" (click)="approval(2)">Rejeitar</button>
                <button class="btn btn-primary submit" type="submit" (click)="approval(1)">Aprovar</button>
            </div>
        </form>
    </div>
</div>
